* {
  margin: 0;
  padding: 0;
  cursor:none;
}

html {
  background-color: black;
  padding: 25px;
}

body {
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-wrapper {
  margin: auto;
  margin-left: 235.375px;
  color: white;
  font: 1.3rem Inconsolata, monospace;
}

#menu > li {
  list-style-type: none;
  margin-bottom: 20px;
}

#menu-subtitle {
  margin-top: 50px;
  font: 1rem Inconsolata, monospace;
}