* {
  margin: 0;
  padding: 0;
  cursor:none;
}

html {
  background-color: black;
  padding: 25px;
}

body {
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home-wrapper {
  margin: auto;
  color: white;
  font: 1rem Inconsolata, monospace;
}

#home-subtitle {
  margin-top: 50px;
  text-align: left;
}