* {
  margin: 0;
  padding: 0;
  cursor:none;
}

html, body {
  background-color: rgb(0, 0, 0);
  color: white;
  font: 1rem Inconsolata, monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home-wrapper {
  margin: auto;
}

#home-subtitle {
  margin-top: 50px;
}